<!DOCTYPE html>
<html>
    <head>
        <title> Dev </title>
        
    </head>

    <body>
        <nav>
            <ul class="menu">
                <li>
                    <a href="#projetos">Projetos</a>
                </li>

                <li>
                    <a href="#sobremim">Sobre</a>
                </li>

                <li>
                    <a href="#valores">Valores</a>
                </li>

                <li>
                    <a href="#contato">Contato</a>
                </li>
            </ul>
        </nav>
        <header>

            <h1 ><b>titulo</b></h1>
            <h4 >Sub</h4>
           
        </header>

        <h2>Meus projetos</h2>

        <section class="projetos">

                <div >
                    <h3>projeto</h3>
                    <a href="">
                        <img src="">
                    </a>
                </div>  
                <div>    
                    <h3>projeto</h3>
                    <a href="">
                        <img src="">
                </a>
                </div>
                <div>
                    <h3>projeto</h3>
                <a href="">
                    <img src="">
                </a>
                </div>

        </section>

        <section class="projetos">

            <div >
                <h3>projeto</h3>
                <a href="">
                    <img src="">
                </a>
            </div>  
            <div>    
                <h3>projeto</h3>
                <a href="">
                    <img src="">
                </a>
            </div>
            <div>
                <h3>projeto</h3>
                <a href="">
                    <img src="">
                </a>
            </div>

    </section>

        <section id="sobremim">

            <h2>Sobre mim</h2>

            <div class = "content">
                <img src="">
                
                <div id="txtsobre">
                    <p class="txtsobre">Experiencia</p>
                    <p class="txtsobre">Experiencia</p>
                    <p class="txtsobre">Experiencia</p>
                    <p class="txtsobre">Experiencia</p>
                    <p class="txtsobre">Experiencia</p>
                    <p class="txtsobre">Experiencia</p>
                </div>
            </div>
            <hr>
            <h2>conheicmento</h2>

            <div id="conhecimento">
                
                <div>
                    <h3>habilidade</h3>
                    <img src="">
                </div>
                <div>
                    <h3>habilidade</h3>
                    <img src="">
                </div>
                <div>
                    <h3>habilidade</h3>
                    <img src="">
                </div>
                <div>
                    <h3>habilidade</h3>
                    <img src="">
                </div>
                <div>
                    <h3>habilidade</h3>
                    <img src="">               
                </div>
                <div>
                    <h3>habilidade</h3>
                    <img src="">
                </div>
            </div>
        </section>

        <section id="valores">

            <h2>Valores</h2>
            <table border="2">
               
                <tr>
                    <th >servico</th>
                    <th >servico</th>
                    <th >servico</th>
                </tr>

                <tr>
                    <td>descricao</td>
                    <td>descricao</td>
                    <td>descricao</td>

                <tr>
                    <td class="preco" >valor</td>
                    <td class="preco">valor</td>
                    <td class="preco">valor</td>
                </tr>
            </table>

        </section>

        <section id="contato">

            <h2 class="h2contato">Entre em contato</h2>

            <div id="divform">
                <form method="post" id="formulario">
                    <label for="fname">Nome</label><br>
                    <input type="text" name="fname" id="fname"><br>
        
                    <label for="fmail">e-mail</label><br>
                    <input type="email" name="fmail" id="fmail"><br>
        
                    <label for="ftel">Telefone</label><br>
                    <input type="tel" name="ftel" id="ftel"><br>

                    <h2 class="h2contato">Qual serviço?</h2>
                    <input type="checkbox" id="op1" name="service" value="op1">
                    <label for="op1">servico1</label><br>

                    <input type="checkbox" id="op2" name="service" value="op2">
                    <label for="op2">servico2</label><br>

                    <input type="checkbox" id="op3" name="service" value="op3">
                    <label for="op3">servico3</label><br>
        
                    <button type="submit" onclick="coleta()">enviar</button><br>
                </form>
            </div>
                
        </section>
       
        <footer class="rodape">
            <h4>Contatos</h4>
            <a href="https://www.instagram.com/nlucasmatheus">Rede social</a>
            <a href="https://www.linkedin.com/in/lucas-nascimento-732776169/">Rede social</a>
            <a href="https://github.com/lucasnasc46">Rede social</a>
            <p>&copy;2024 Desenvolvedor. Todos os direitos reservados</p>

        </footer>

    </body>
</html>