<!DOCTYPE html>
<html>
    <head>
        <title> Dev Lucas </title>
        <link rel="stylesheet" type="text/css" href="C:\Users\alt_f\OneDrive\Documents\Anhaguera\4 periodo\Programação Web\aulaDevWeb\src\public\css\lucas.css">
    </head>

    <body>
        <nav>
            <ul class="menu">
                <li>
                    <a href="#projetos">Projetos</a>
                </li>

                <li>
                    <a href="#sobremim">Sobre</a>
                </li>

                <li>
                    <a href="#valores">Valores</a>
                </li>

                <li>
                    <a href="#contato">Contato</a>
                </li>
            </ul>
        </nav>
        <header>

            <h1 ><b>Olá, eu sou o Lucas!</b></h1>
            <h4 >Vamos fazer um projeto?</h4>
           
        </header>

        <h2>Meus projetos</h2>

        <section id="projetos">

                <div >
                    <h3>EcopontoAPP</h3>
                    <a href="https://ecopontoapp.com">
                         <img src="C:\Users\alt_f\OneDrive\Documents\Anhaguera\4 periodo\Programação Web\aulaDevWeb\src\public\img\ecoponto-pixeldots.jpg" alt="Ecoponto" width="450px" height="300px"> 
                     </a>
                </div>  
                <div>    
                    <h3>Cimento Nassau </h3>
                    <a href="https://www.cimentonassau.com.br">
                         <img src="C:\Users\alt_f\OneDrive\Documents\Anhaguera\4 periodo\Programação Web\aulaDevWeb\src\public\img\cimento-nassau-2.jpeg" alt="Cimento Nassau" width="450px" height="300px">
                    </a>
                </div>
                <div>
                    <h3>RecInPlay </h3>
                    <a href="https://recnplay.pe/">
                        <img src="C:\Users\alt_f\OneDrive\Documents\Anhaguera\4 periodo\Programação Web\aulaDevWeb\src\public\img\rec-n-play-2023.jpeg" alt="RecInPlay" width="450px" height="300px"> 
                    </a>
                </div>

        </section>

        <section id="sobremim">

            <h2>Sobre mim</h2>

            <div class = "content">
                <img src="C:\Users\alt_f\OneDrive\Documents\Anhaguera\4 periodo\Programação Web\aulaDevWeb\src\public\img\eu.jpeg" id="imgSobre" ><br>
                
                <div id="txtsobre">
                    <p class="txtsobre"> Bacharel em Sistemas de Informação - UPE</p>
                    <p class="txtsobre">MBA em Gestão de projetos de TI - Cogna</p>
                    <p class="txtsobre">Analista Pleno - Porto Digital</p>
                    <p class="txtsobre">Professor Tutor - Anhanguera</p>
                    <p class="txtsobre">CTO - Whatsite.me</p>
                    <p class="txtsobre">TECH Leader - M.A.R.C</p>
                </div>
            </div>
            <hr>
            <h2>HardSkills</h2>

            <div id="conhecimento">
                
                <div>
                    <h3>Wordpress</h3>
                    <img src="C:\Users\alt_f\OneDrive\Documents\Anhaguera\4 periodo\Programação Web\aulaDevWeb\src\public\img\wp.png" height="120px" width="120px">
                </div>
                <div>
                    <h3>Infraestrutura de hospegem</h3>
                    <img src="C:\Users\alt_f\OneDrive\Documents\Anhaguera\4 periodo\Programação Web\aulaDevWeb\src\public\img\hospedagem.png " height="150px" width="150px">
                </div>
                <div>
                    <h3>HTML & CSS</h3>
                    <img src="C:\Users\alt_f\OneDrive\Documents\Anhaguera\4 periodo\Programação Web\aulaDevWeb\src\public\img\logo-html-css.png" height="150px" width="150px">
                </div>
                <div>
                    <h3>JavaScript</h3>
                    <img src="C:\Users\alt_f\OneDrive\Documents\Anhaguera\4 periodo\Programação Web\aulaDevWeb\src\public\img\javascript.png" height="150px" width="150px">
                </div>
                <div>
                    <h3>Electron</h3>
                    <img src="C:\Users\alt_f\OneDrive\Documents\Anhaguera\4 periodo\Programação Web\aulaDevWeb\src\public\img\electron.png" height="110px" width="110px">
                </div>
                <div>
                    <h3>Python</h3>
                    <img src="C:\Users\alt_f\OneDrive\Documents\Anhaguera\4 periodo\Programação Web\aulaDevWeb\src\public\img\py.png" height="160px" width="160px">
                </div>
            </div>
        </section>

        <section id="valores">

            <h2>Valores</h2>
            <table border="2">
               
                <tr>
                    <th>Leading page</th>
                    <th>Institucional</th>
                    <th>Ecommerce</th>
                </tr>

                <tr>
                    <td>Pagina unica para captação de clientes</td>
                    <td>Pagina profisisonal para a sua empresa</td>
                    <td>Sitema robusto para comercio eletronico</td>

                <tr>
                    <td>R$1000,00</td>
                    <td>R$3500,00</td>
                    <td>R$7000,00</td>
                </tr>
            </table>

        </section>

        <section id="contato">

            <h2 class="h2contato">Entre em contato</h2>

            <div id="divform">
                <form method="post" id="formulario">
                    <label for="fname">Nome</label><br>
                    <input type="text" name="fname" id="fname"><br>
        
                    <label for="fmail">email</label><br>
                    <input type="email" name="fmail" id="fmail"><br>
        
                    <label for="ftel">telefone</label><br>
                    <input type="tel" name="ftel" id="ftel"><br>

                    <h2 class="h2contato">Qual serviço?</h2>
                    <input type="checkbox" id="op1" name="service" value="op1">
                    <label for="op1">Leading Page</label><br>

                    <input type="checkbox" id="op2" name="service" value="op2">
                    <label for="op2">Institucional</label><br>

                    <input type="checkbox" id="op3" name="service" value="op3">
                    <label for="op3">Ecommerce</label><br>
        
                    <button type="submit" onclick="coleta()">enviar</button><br>
                </form>
            </div>
                
        </section>
       
        <footer>

            <h4>Endereço</h4>
            <p>Polo Comercial de caruaru - Armazem da Criatividade, sala 03</p>
        </footer>

        <script src="script.js"></script>
    </body>
</html>