<!DOCTYPE html>
<html>
    <head>
        <title> Dev Lucas </title>
        <link rel="stylesheet" type="text/css" href="C:\Users\alt_f\OneDrive\Documents\Anhaguera\4 periodo\Programação Web\aulaDevWeb\src\public\css\lucas.css">
    </head>

    <body>
        <nav>
            <ul class="menu">
                <li>
                    <a href="#projetos">Projetos</a>
                </li>

                <li>
                    <a href="#sobremim">Sobre</a>
                </li>

                <li>
                    <a href="#valores">Valores</a>
                </li>

                <li>
                    <a href="#contato">Contato</a>
                </li>
            </ul>
        </nav>
        <header>

            <h1 ><b>DESENVOLVEDOR WEB LUCAS</b></h1>
           
        </header>

        <h2>Meus projetos</h2>

        <section id="projetos">

           
                <div class="projetc">
                    <h3>EcopontoAPP</h3>
                    <a href="https://ecopontoapp.com">
                         <img src="C:\Users\alt_f\OneDrive\Documents\Anhaguera\4 periodo\Programação Web\aulaDevWeb\src\public\img\ecoponto-pixeldots.jpg" alt="Ecoponto" width="450px" height="300px"> 
                     </a>
                </div>  
                <div class="projetc">    
                    <h3>Cimento Nassau </h3>
                    <a href="https://www.cimentonassau.com.br">
                         <img src="C:\Users\alt_f\OneDrive\Documents\Anhaguera\4 periodo\Programação Web\aulaDevWeb\src\public\img\cimento-nassau-2.jpeg" alt="Cimento Nassau" width="450px" height="300px">
                    </a>
                </div>
                <div class="projetc">
                    <h3>RecInPlay </h3>
                    <a href="https://recnplay.pe/">
                        <img src="C:\Users\alt_f\OneDrive\Documents\Anhaguera\4 periodo\Programação Web\aulaDevWeb\src\public\img\rec-n-play-2023.jpeg" alt="RecInPlay" width="450px" height="300px"> 
                    </a>
                </div>

        </section>

        <section id="sobremim">

            <h2>Sobre mim</h2>
            <img  id="sobre" src="C:\Users\alt_f\OneDrive\Documents\Anhaguera\4 periodo\Programação Web\aulaDevWeb\src\public\img\eu.jpg"><br>
            <p class="txtsobre"> Formado pela a UPE (Universidade de Pernambuco) em Sistemas de Informação, sou desenvolvedor Web a 4 anos, onde começei desenvolvendo pequenos site de página unica e com tempo fui pegando projetos maiores e hoje tem expertise até em ecommerce</p>
            <p class="txtsobre">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, reiciendis. Omnis, in. Impedit quaerat, totam veritatis laudantium ipsam, sunt et reprehenderit officia ratione aspernatur minus obcaecati facilis aliquid. Odio, cupiditate?</p>
            <p class="txtsobre">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, reiciendis. Omnis, in. Impedit quaerat, totam veritatis laudantium ipsam, sunt et reprehenderit officia ratione aspernatur minus obcaecati facilis aliquid. Odio, cupiditate?</p>
            <p class="txtsobre">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, reiciendis. Omnis, in. Impedit quaerat, totam veritatis laudantium ipsam, sunt et reprehenderit officia ratione aspernatur minus obcaecati facilis aliquid. Odio, cupiditate?</p>
            <p class="txtsobre">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, reiciendis. Omnis, in. Impedit quaerat, totam veritatis laudantium ipsam, sunt et reprehenderit officia ratione aspernatur minus obcaecati facilis aliquid. Odio, cupiditate?</p>
            <p class="txtsobre">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, reiciendis. Omnis, in. Impedit quaerat, totam veritatis laudantium ipsam, sunt et reprehenderit officia ratione aspernatur minus obcaecati facilis aliquid. Odio, cupiditate?</p>
            <p class="txtsobre">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, reiciendis. Omnis, in. Impedit quaerat, totam veritatis laudantium ipsam, sunt et reprehenderit officia ratione aspernatur minus obcaecati facilis aliquid. Odio, cupiditate?</p><br>
            
            <img id="iconinsta" src="C:\Users\alt_f\OneDrive\Documents\Anhaguera\4 periodo\Programação Web\aulaDevWeb\src\public\img\insta.png">
           
            <div id="insta">
                <h2> Me siga no instagram</h2>
                <a href="https://instagram.com/nlucasmatheus">@nlucasmatheus</a>
            </div>

        </section>

        <section id="valores">

            <h2>Valores</h2>
            <table border="2">
               
                <tr>
                    <th>Leading page</th>
                    <th>Institucional</th>
                    <th>Ecommerce</th>
                </tr>

                <tr>
                    <td>Pagina unica para captação de clientes</td>
                    <td>Pagina profisisonal para a sua empresa</td>
                    <td>Sitema robusto para comercio eletronico</td>

                <tr>
                    <td>R$1000,00</td>
                    <td>R$3500,00</td>
                    <td>R$7000,00</td>
                </tr>
            </table>

        </section>

        <section id="contato">

            <h2 class="h2contato">Entre em contato</h2>

            <div id="divform">
                <form method="post" id="formulario">
                    <label for="fname">Nome</label><br>
                    <input type="text" name="fname" id="fname"><br>
        
                    <label for="fmail">email</label><br>
                    <input type="email" name="fmail" id="fmail"><br>
        
                    <label for="ftel">telefone</label><br>
                    <input type="tel" name="ftel" id="ftel"><br>

                    <h2 class="h2contato">Qual serviço?</h2>
                    <input type="checkbox" id="op1" name="service" value="op1">
                    <label for="op1">Leading Page</label><br>

                    <input type="checkbox" id="op2" name="service" value="op2">
                    <label for="op2">Institucional</label><br>

                    <input type="checkbox" id="op3" name="service" value="op3">
                    <label for="op3">Ecommerce</label><br>
        
                    <button type="submit" onclick="coleta()">enviar</button><br>
                </form>
            </div>
                
        </section>
       
        <footer>

            <h4>Endereço</h4>
            <p>Polo Comercial de caruaru - Armazem da Criatividade, sala 03</p>
        </footer>

        <script src="script.js"></script>
    </body>
</html>