*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body, html{
    margin: 0;
    padding: 0; 
}

nav {
    background-color: rgb(1, 1, 55);
    height: 100px;
    margin: 0;
    display: flex; /* Ativa o flexbox */
    align-items: center; /* Centraliza verticalmente o conteúdo */
}

.menu {
    list-style-type: none; /* Remove os marcadores padrões da lista */
    margin-left: 65%; /* Mantém o alinhamento horizontal */
    padding: 0; /* Remove o padding para evitar deslocamento */
}

.menu li{
    display: inline; /*deixando os itens da lista na horizontal*/
    margin-right: 20px;
    font-size: 25px;
}

a{
    text-decoration: none;
    color:aliceblue;
}

a:hover{
    color:aqua;
}

header{
    width: 100%;
    height: 500px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
                      url('C:/Users/alt_f/OneDrive/Documents/Anhaguera/4 periodo/Programação Web/aulaDevWeb/src/public/img/laptop.jpg');
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center; 
}

h1, h4{
    color: aliceblue;
    margin: 0;
    padding: 5px 0;
    padding-left: 250px;
}

h2{
    text-align: center;
    margin: 50px 0 40px;
    font-size: 30px;
}

#projetos {
    text-align: center;
    display: flex;
    flex-wrap: nowrap; /* Impede que os elementos quebrem em linhas */
    justify-content: center; /* Distribui o espaço entre os elementos */
    gap: 50px; /* Espaçamento entre os projetos */
    padding: 0 90px;
    margin: 0 auto;
}

a{
    display: inline-block;
    vertical-align: top;
}

#sobremim{
   
    background-color: rgb(39, 31, 91);
    color:aliceblue;
    text-align: center;
    justify-content: center;
    padding-bottom: 10px;
    margin-top: 10px;
    padding-top: 10px;
    

}

#imgSobre{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 100px;
  
}

#sobremim .content { 
    margin-top: 90px;
    display: flex; /* Usado para organizar a imagem e os parágrafos em linha */
    align-items: center; /* Centraliza verticalmente a imagem e o texto */
    justify-content: center; /* Centraliza horizontalmente o conteúdo principal */
    gap: 30px; /* Espaçamento entre a imagem e o texto */
}

#txtsobre{
    font-size: 20px;
    text-align: justify;
    max-width: 600px;
}

#iconinsta{
    width: 50px;
    height: 50px;
    display: inline-block; /* Faz com que a imagem seja exibida como um elemento em linha */
    vertical-align: middle; /* Alinha verticalmente ao meio para alinhar a imagem e o texto */
    margin-right: 10px;
    
}

#insta{

    display: inline-block; 
    vertical-align: middle;
}

table{

    width: 75%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

td, th{

    text-align: center;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

tr:hover{

    background-color: aqua;
}

#valores{
    padding-bottom: 20px;
}

#contato{

    background-image: url("C:/Users/alt_f/OneDrive/Documents/Anhaguera/4 periodo/Programação Web/aulaDevWeb/src/public/img/bgform.jpg");
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 60px;
    padding-top: 20px;
}

.h2contato{

    color: #ddd;
    padding-top: 5px;
}


#divform{

    width: 300px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 auto;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
    
}

#divform label{

    display: block;
    text-align: center;
    font-size:18px;
    color: #ccc;
}

#divform input[type="text"],
#divform input[type="email"],
#divform input[type="tel"] {
  width: 75%; /* Define a largura dos inputs como 100% para ocupar toda a largura disponível */
  padding: 10px; /* Adiciona espaço interno para melhorar a aparência dos inputs */
  margin-bottom: 10px; /* Adiciona espaço entre os inputs (opcional) */
}

#divform button[type="submit"] {
    background-color: #8400ff; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto do botão */
    font-size: 18px; /* Tamanho do texto do botão */
    padding: 10px 20px; /* Espaçamento interno do botão */
    border: none; /* Remove a borda padrão do botão */
    border-radius: 5px; /* Adiciona bordas arredondadas ao botão */
    cursor: pointer; /* Define o cursor como ponteiro ao passar sobre o botão */
  }
  
  /* Estiliza o botão quando o mouse passa por cima */
  #divform button[type="submit"]:hover {
    background-color: #0098b3; /* Cor de fundo do botão ao passar o mouse */
  }

footer{

    text-align: center;
    margin: 0;
}
  